# Segmentação de clientes de um supermercado

Um supermercado, através de cartões de fidelidade, possui alguns dados básicos sobre seus clientes, como idade, gênero, renda anual e pontuação de gastos. Tal pontuação é algo que o supermercado atribui ao cliente com base em parâmetros definidos, como comportamento do cliente e dados de compra.

O objetivo deste projeto é segmentar os clientes com base em seus dados de compra, para que o supermercado possa entender melhor os clientes e formular estratégias de negócios de acordo.

Link original para o dataset: https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python

### Análise Exploratória do dataset

In [8]:
#Importando as bibliotecas e apresentando as versões caso algum usuário deseje reproduzir
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

import pandas as pd
import matplotlib
import seaborn as sns
import numpy as np
import sklearn
from platform import python_version
import os

os.environ["OMP_NUM_THREADS"] = "1"

bibliotecas = {
    "Pandas": pd,
    "Matplotlib": matplotlib,
    "Seaborn": sns,
    "NumPy": np,
    "Scikit-Learn": sklearn,
}

print("Versões das bibliotecas:\n")
print(f"{'':-^20} | {'':-^10}")
print(f"{'Biblioteca':^20} | {'Versão':^10}")
print(f"{'':-^20} | {'':-^10}")

for nome, biblioteca in sorted(bibliotecas.items()):
    print(f"{nome:<20} | {biblioteca.__version__:>10}")

print()
print(f"Versão do Python: {python_version()}")

Versões das bibliotecas:

-------------------- | ----------
     Biblioteca      |   Versão
-------------------- | ----------
Matplotlib           |      3.7.0
NumPy                |     1.23.5
Pandas               |      2.2.2
Scikit-Learn         |      1.2.1
Seaborn              |     0.12.2

Versão do Python: 3.10.9

In [9]:
#Importando o dataset
df = pd.read_csv("../dados/Mall_Customers.csv")

In [10]:
#Verificando o tipo e os valores nulos das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [11]:
#Formatação de casas decimais na visualização do .describe()
with pd.option_context("display.float_format","{:.2f}".format):
    display(df.describe())

       CustomerID    Age  Annual Income (k$)  Spending Score (1-100)
count      200.00 200.00              200.00                  200.00
mean       100.50  38.85               60.56                   50.20
std         57.88  13.97               26.26                   25.82
min          1.00  18.00               15.00                    1.00
25%         50.75  28.75               41.50                   34.75
50%        100.50  36.00               61.50                   50.00
75%        150.25  49.00               78.00                   73.00
max        200.00  70.00              137.00                   99.00

In [12]:
#Observando as colunas não númericas
df.describe(exclude="number")

        Gender
count      200
unique       2
top     Female
freq       112

In [13]:
#Inicio da análise exploratória utilizando o ydata_profiling
from ydata_profiling import ProfileReport

profile = ProfileReport(df)

profile.to_file("../reports/eda_supermercado.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Sobre o ydata_profiling: 

- Ele gera um arquivo Html onde é realizada uma análise exploratoria de todas as colunas do dataset, identificando o tipo dos dados, variação, valores distintos
além de demonstrar a interação entre as colunas através de gráficos de dispersão.